<!-- <div class="row"> -->
<div class="card border-0">
  <div class="card-header border-0 bg-white p-0 pt-1">
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-primary" type="button">
      <!-- <fa-icon [icon]="_icons.plus"></fa-icon> -->
      <fa-icon [icon]="_icons.pencil"></fa-icon>
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-warning" type="button">
      <fa-icon [icon]="_icons.archive"></fa-icon>
    </button>
  </div>

  <div class="card-body">
    <textarea>
      sdfdfs
    </textarea>
    <div>
      sdfsdfds
    </div>
  </div>

</div>
<!-- </div> -->