<!-- <div class="row"> -->
<div class="card border-0">
  <div class="card-header  bg-white p-0 pt-1" [ngClass]="archived ? '' : 'border-0'">
    <div class="row m-2">
      &nbsp;&nbsp;
      <button *ngIf="!archived" (click)="toggleEdit()" class="btn btn-sm btn-primary col-2" type="button">
        <fa-icon ngbTooltip="Save" *ngIf="editMode" [icon]="_icons.check"></fa-icon>
        <fa-icon ngbTooltip="Edit" *ngIf="!editMode" [icon]="_icons.pencil"></fa-icon>
      </button>
      &nbsp;&nbsp;
      <button *ngIf="note.id>0"  (click)="archiveNote()" class="btn btn-sm btn-warning col-2" type="button">
        <fa-icon *ngIf="archived" ngbTooltip="Un Archive"  [icon]="_icons.archive"></fa-icon>
        <fa-icon *ngIf="!archived" ngbTooltip="Archive"  [icon]="_icons.archive"></fa-icon>
      </button>
      &nbsp;&nbsp;
      <button (click)="deleteNote()" class="btn btn-sm btn-danger col-2" type="button">
        <fa-icon ngbTooltip="Delete"  [icon]="_icons.trash"></fa-icon>
      </button>
    </div>

    <div class="row m-2">
      <input class="form-control " [(ngModel)]="note.title" type="text" *ngIf="editMode">
      <div class="fw-bold" *ngIf="!editMode">
        {{note.title}}
      </div>
    </div>

  </div>

  <div class="card-body">
    <textarea class="form-control" [(ngModel)]="note.description" rows="6" *ngIf="editMode">
    </textarea>
    <div *ngIf="!editMode">
      {{note.description}}
    </div>
  </div>

</div>
<!-- </div> -->