<div class="row">
  <div class="col-4">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="dateChanged()"  name="dp" [(ngModel)]="date" ngbDatepicker
        #d="ngbDatepicker">
      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
        <fa-icon [icon]="_icons.calendarDays"></fa-icon>
      </button>
    </div>
  </div>
  <div class="col-4">
    <div class="input-group">
      <input class="form-control" placeholder="Searc here .." name="search" [(ngModel)]="searchText" type="text">
      <span class="btn btn-outline-secondary">
        <fa-icon [icon]="_icons.search"></fa-icon>
      </span>
    </div>
  </div>
</div>
<div cdkDropListGroup class="row mt-4">
  <div class="col-3">
    <div class="card text-center">
      <div class="card-header">
        Assinged
      </div>

      <div cdkDropList [cdkDropListData]="assignedNotes" class="example-list" (cdkDropListDropped)="drop($event)"
      class="card-body cdk-list">
      <div *ngFor="let item of assignedNotes" class="cdk-item" cdkDrag>
        <app-td-note-card></app-td-note-card>
      </div>
    </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card text-center">
      <div class="card-header bg-info">
        Active
      </div>
      <div cdkDropList [cdkDropListData]="activeNotes" class="example-list" (cdkDropListDropped)="drop($event)"
        class="card-body cdk-list">
        <div *ngFor="let item of activeNotes" class="cdk-item" cdkDrag>
          <app-td-note-card></app-td-note-card>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card text-center">
      <div class="card-header bg-warning">
        On hold
      </div>
      <div cdkDropList [cdkDropListData]="onHoldNotes" class="example-list" (cdkDropListDropped)="drop($event)"
        class="card-body cdk-list">
        <div *ngFor="let item of onHoldNotes" class="cdk-item" cdkDrag>
          <app-td-note-card></app-td-note-card>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card text-center">
      <div class="card-header bg-success">
        Completed
      </div>
      <div cdkDropList [cdkDropListData]="completedNotes" class="example-list" (cdkDropListDropped)="drop($event)"
        class="card-body cdk-list">
        <div *ngFor="let item of completedNotes" class="cdk-item" cdkDrag>
          <app-td-note-card></app-td-note-card>
        </div>
      </div>
    </div>
  </div>
</div>